body {
  margin: 0;
  background-color: #FBFCFF;
  font-family: 'Abel', sans-serif;
  }

/****************   Nav Section **********************/
nav {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 1rem 1.5rem;
  justify-content: space-between;
  color: #51535b;
  background-color: rgb(227, 228, 232);
 font-size: 23px;
}

/***********************  Footer Section   **************************/
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #252b3d;
  background-color: rgb(227, 228, 232);
  padding: 2em;
  text-align: center;
  font-size: 20px;
}

/*********** Splash Page ************************/
header {
  
  background-color: rgb(49, 64, 84);
  text-align: center;
  padding: 0.5em;
}

header h1 {
  font-size: 3em;
  font-family: 'Abhaya Libre', serif;
  color: rgb(251, 252, 255);

}

header img {
  border-radius: 15%;
  margin-top: 0.25em;
  border: 4px dotted rgb(240, 244, 247);

}

.address {
  font-size: 1em;
  font-family: Arial, sans-serif;
  color: rgb(251, 252, 255);
  padding: 0.5em;
}

.tagline {
  font-size: 0.9em;
  font-family: Arial, sans-serif;
  color: rgb(251, 252, 255);

}

/************* Sections ********************/
hr {
  border: 1.5px solid rgb(66, 108, 137);
  margin-left: auto;
  margin-right: auto;

}


section h2 {
  font-family: Arial, sans-serif;
  font-size: 1.5em;
  padding: 1em;
}

section h3 {
  font-family: 'Abhaya Libre', serif;
  font-size: 1em;
  color:  rgb(251, 252, 255);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2)

}

section dl {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 0.5em;
  padding: 1em;
  margin: 1em;
  font-size: 1.1em;
}

section ul {
  font-family: Arial, sans-serif;
  color: rgb(251, 252, 255);

}

section ul.skills {
  font-family: 'Abel', sans-serif;
  color: rgb(49, 64, 84);
  font-size: 1.1em;

}

section a {
  color: rgb(18, 71, 36);
  text-decoration: none;
  

}

section a:hover {
  text-decoration: underline;
}

/**************   Projects   *****************/
.three-col {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 1em;
}

.card img {
  width: 100%;
  height: auto;

}

.card {
  margin: 1em;
  padding: 1em;
  border-radius: 8px;
  background-color: rgb(49, 64, 84);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  outline: pink solid 3px;
}

/**************   Responsiveness   *****************/
@media (max-width: 680px) {
    nav {
      flex-direction: column;
      align-items: flex-start;
      gap: 1em;
    }

    .three-col {
      grid-template-columns: 1fr;
      justify-content: center;
    }
}


/**************   Contact Page   *****************/
.one-col {
  display:flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  margin: auto;
  padding: 1em;

}

input {
  width: 100%;
  padding: 0.5em;
  margin: 0.5em 0;
  border: 1px solid rgb(8, 78, 97);
  border-radius: 4px;
  font-size: 1em;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

textarea {
  width: 100%;
  padding: 0.5em;
  margin: 0.5em 0;
  border: 1px solid rgb(8, 78, 97);
  border-radius: 4px;
  resize: vertical; 
  font-size: 1em;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}